body {
  background: #151515 url('../images/bkg.png') 0 0;
  font-family: Monaco, 'Bitstream Vera Sans Mono', 'Lucida Console', Terminal, monospace;
  color: #C84553;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color:#C84553
}

a:hover {
  text-decoration: underline;
}

header {
  border-bottom: 1px dashed #C84553;
}

h1 {
  font-family: LeagueGothicRegular, HelveticaNeue-CondensedBold, 'Franklin Gothic Demi Cond', 'Franklin Gothic Medium Cond', Impact, sans-serif;
  text-transform:uppercase;
  color: #C84553;
}

header h1 {
  font-size: 45px;
}

header h2 {
  font-size: 18px;
  color: #988;
}

div.container{
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

#post-body {
  font-size:14px;
  color:#EAEAEA;
}

#post-body h1 {
  font-size:25px;
}

#index {
  padding:15px;
}