<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />
    <meta name='author' content='Pablo Fernandez' />
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'/>
    <link href='/css/main.less' rel='stylesheet/less' type='text/css'/>
    <link href="atom.xml" type="application/atom+xml" rel="alternate" title="Let's Have A War - Feed" />
    <script src="https://raw.github.com/cloudhead/less.js/master/dist/less-1.3.0.min.js"></script>
    <title>Let's Have a War • {{ page.title }}</title>
  </head>
  <body>
    <header>
      <div class='container'>
        <a href="/">
          <h1>Let's Have a War</h1>
        </a>
        <h2><a href='http://twitter.com/fernandezpablo' target="_blank">@fernandezpablo</a>'s opinions on software development</h2>
        <h3> {{page.title}} </h3>
      </div>
    </header>
    <div class='container'>
      <section id='post-body'>
        {{content}}
      </section>
    </div>
  </body>
</html>

